<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      {{#if env.DOCSEARCH_ENABLED}}
        {{#if (eq page.component.name 'home')}}
        {{else}}
            <div class="navbar-item">
                <input id="search-input" type="text" placeholder="Search docs">
            </div>
        {{/if}}
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="https://jakescahill.github.io/docs-poc/home/index.html">Home</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Products</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://hazelcast.org/platform/">Hazelcast Cloud</a>
            <a class="navbar-item" href="https://hazelcast.org/imdg/">Hazelcast IMDG</a>
            <a class="navbar-item" href="https://jet-start.sh">Hazelcast Jet</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Learn</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://jakescahill.github.io/docs-poc/home/index.html">Docs</a>
            <a class="navbar-item" href="https://training.hazelcast.com/">Online Training</a>
            <a class="navbar-item" href="https://hazelcast.org/resources/">Search Resources</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Resources</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://hazelcast.org/hub/">Hub</a>
            <a class="navbar-item" href="https://hazelcast.org/use-cases/">Use Cases</a>
            <a class="navbar-item" href="https://hazelcast.org/community/">Community</a>
            <a class="navbar-item" href="https://hazelcast.org/blog/">Blog</a>
          </div>
        </div>
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="https://hazelcast.com/get-started/">Get Hazelcast</a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
