site:
  title: Documentation
  start_page: tutorials::index.adoc
  url: https://docs.hazelcast.com
  keys:
    google_analytics: 'GTM-MQ59XD6'
    docsearch_id: 'QK2EAH8GB0'
    docsearch_api: 'ef7bd9485eafbd75d6e8425949eda1f5'
    docsearch_index: 'prod_hazelcast_docs'
urls:
  html_extension_style: drop
content:
  sources: 
  - url: .
    start_path: home
    branches: HEAD
  - url: .
    start_path: tutorials
    branches: HEAD
  - url: https://github.com/hazelcast/hz-docs
    branches: [main, v/*]
    start_path: docs
  - url: https://github.com/hazelcast/imdg-docs
    branches: [v/*]
    start_path: docs
  - url: https://github.com/hazelcast/imdg-docs
    branches: [archived-versions]
    start_paths: docs/*
  - url: https://github.com/hazelcast/management-center-docs
    branches: [main, v/*]
    start_path: docs
  - url: https://github.com/hazelcast/management-center-docs
    branches: [archived-versions]
    start_paths: docs/*
  - url: https://github.com/hazelcast/cloud-docs
    branches: [main]
    start_path: docs
  - url: https://github.com/hazelcast/hazelcast-platform-operator-docs
    branches: [main, v/*]
    start_path: docs
  - url: https://github.com/hazelcast/turbine
    branches: [main]
    start_path: docs/content
  - url: https://github.com/hazelcast-guides/adoc-templates.git
    branches: antora-doc
  - url: https://github.com/JakeSCahill/caching-springboot-jcache
    branches: tutorials
    start_path: docs
  - url: https://github.com/JakeSCahill/hazelcast-embedded-springboot
    branches: tutorials
    start_path: docs
  - url: https://github.com/JakeSCahill/springboot-hibernate
    branches: tutorials
    start_path: docs
  - url: https://github.com/JakeSCahill/hibernate-jcache
    branches: tutorials
    start_path: docs
  - url: https://github.com/JakeSCahill/istio
    branches: tutorials
    start_path: docs
  - url: https://github.com/JakeSCahill/caching-micronaut
    branches: tutorials
    start_path: docs
  - url: https://github.com/JakeSCahill/kubernetes-embedded
    branches: tutorials
    start_path: docs
  - url: https://github.com/JakeSCahill/hazelcast-embedded-microprofile
    branches: tutorials
    start_path: docs
  - url: https://github.com/JakeSCahill/hazelcast-client-quarkus
    branches: tutorials
    start_path: docs
  - url: https://github.com/JakeSCahill/springboot-webfilter-session-replication
    branches: tutorials
    start_path: docs
  - url: https://github.com/JakeSCahill/caching-springboot
    branches: tutorials
    start_path: docs
  - url: https://github.com/JakeSCahill/ecs-embedded
    branches: tutorials
    start_path: docs
  - url: https://github.com/JakeSCahill/striim-cdc
    branches: tutorials
    start_path: docs
  - url: https://github.com/JakeSCahill/springboot-tomcat-session-replication
    branches: tutorials
    start_path: docs
  - url: https://github.com/JakeSCahill/vmware-tanzu
    branches: tutorials
    start_path: docs
  - url: https://github.com/JakeSCahill/terraform-quickstarts
    branches: tutorials
    start_path: docs
  - url: https://github.com/JakeSCahill/kubernetes-external-client
    branches: tutorials
    start_path: docs
  - url: https://github.com/JakeSCahill/active-directory-authentication
    branches: tutorials
    start_path: docs
  - url: https://github.com/JakeSCahill/kubernetes-sidecar
    branches: tutorials
    start_path: docs
  - url: https://github.com/JakeSCahill/kubernetes-hpa
    branches: tutorials
    start_path: docs
  - url: https://github.com/JakeSCahill/kubernetes-ssl
    branches: tutorials
    start_path: docs
  - url: https://github.com/JakeSCahill/kubernetes-wan
    branches: tutorials
    start_path: docs
  - url: https://github.com/JakeSCahill/kubernetes
    branches: tutorials
    start_path: docs
  - url: https://github.com/JakeSCahill/spring-session-hazelcast
    branches: tutorials
    start_path: docs
  - url: https://github.com/JakeSCahill/ec2-cluster
    branches: tutorials
    start_path: docs
  - url: https://github.com/JakeSCahill/linkerd
    branches: tutorials
    start_path: docs
  - url: https://github.com/JakeSCahill/consul
    branches: tutorials
    start_path: docs
  - url: https://github.com/JakeSCahill/openshift
    branches: tutorials
    start_path: docs
  - url: https://github.com/JakeSCahill/nodejs-client-getting-started
    branches: tutorials
    start_path: docs
  - url: https://github.com/JakeSCahill/go-client-getting-started
    branches: tutorials
    start_path: docs
  - url: https://github.com/JakeSCahill/openfaas-hz-client
    branches: tutorials
    start_path: docs
  - url: https://github.com/JakeSCahill/hazelcast-platform-operator-expose-externally
    branches: tutorials
    start_path: docs
ui: 
  bundle:
    url: https://github.com/hazelcast/hazelcast-docs-ui/releases/download/v2.16-BETA/ui-bundle.zip
    snapshot: true
antora:
  extensions:
    - require: '@djencks/antora-aggregate-collector'
      trace: true
      componentversions:
        - name: management-center
          version: '5.1-snapshot'
          mappings:
            - module: integrate
              family: attachment
              origin:
                url:
                  include:
                    - '**/hazelcast/management-center'
                branch:
                  includes:
                    - 'master'
        - name: management-center
          version: '5.1'
          mappings:
            - module: integrate
              family: attachment
              origin:
                url:
                  include:
                    - '**/hazelcast/management-center'
                branch:
                  includes:
                    - '5.1'
asciidoc:
  attributes:
    page-pagination: true@
    # Allows us to use UI macros. See https://docs.asciidoctor.org/asciidoc/latest/macros/ui-macros/
    page-experimental: true
    idprefix: ''
    idseparator: '-'
    page-survey: https://www.surveymonkey.co.uk/r/NYGJNF9
    imdg-javadoc: https://docs.hazelcast.org/docs/latest-dev/javadoc
    imdg-samples: https://github.com/hazelcast/hazelcast-code-samples
    imdg-core: https://github.com/hazelcast/hazelcast/tree/master/hazelcast/src/main/java/com/hazelcast
    imdg-docs: https://docs.hazelcast.org/docs/latest/manual/html-single/index.html
    imdg-ops-guide: https://hazelcast.com/resources/hazelcast-deployment-operations-guide/
    jet-docs: https://jet-start.sh/
    docs-archive: 'https://hazelcast.org/imdg/download/archives/'
  extensions:
    - ./lib/tabs-block.js
    - ./lib/swagger-ui-block-macro.js
