site:
  title: Documentation
  start_page: home::index.adoc
  url: https://docs.hazelcast.com
  keys:
    google_analytics: 'GTM-MQ59XD6'
    docsearch_id: 'QK2EAH8GB0'
    docsearch_api: 'ef7bd9485eafbd75d6e8425949eda1f5'
    docsearch_index: 'prod_hazelcast_docs'
urls:
  html_extension_style: drop
content:
  sources: 
  - url: .
    start_paths: [home,tutorials]
    branches: HEAD
  - url: https://github.com/hazelcast/hz-docs
    branches: [main, v/*]
    start_path: docs
  - url: https://github.com/hazelcast/imdg-docs
    branches: [v/*]
    start_path: docs
  - url: https://github.com/hazelcast/imdg-docs
    branches: [archived-versions]
    start_paths: docs/*
  - url: https://github.com/hazelcast/management-center-docs
    branches: [main, v/*]
    start_path: docs
  - url: https://github.com/hazelcast/management-center-docs
    branches: [archived-versions]
    start_paths: docs/*
  - url: https://github.com/hazelcast/cloud-docs
    branches: [main]
    start_paths: [docs, tutorials]
  - url: https://github.com/hazelcast/hazelcast-commandline-client
    branches: [main]
    start_paths: docs
  - url: https://github.com/hazelcast/hazelcast-platform-operator-docs
    branches: [main, v/*]
    start_path: docs
  - url: https://github.com/hazelcast-guides/client-failover
    branches: master
    start_paths: docs
  - url: https://github.com/hazelcast-guides/spring-boot-sample
    branches: master
    start_paths: docs
  - url: https://github.com/hazelcast-guides/serverless-fraud-detection
    branches: master
    start_paths: docs
  - url: https://github.com/hazelcast-guides/write-through-cache-mongodb-mapstore
    branches: master
    start_paths: docs
  - url: https://github.com/hazelcast-guides/standard-deviation-parallel-processing
    branches: master
    start_paths: docs
  - url: https://github.com/hazelcast-guides/stream-to-stream-joins
    branches: master
    start_paths: docs
  - url: https://github.com/hazelcast/hazelcast-cloud-maven-plugin
    branches: main
    start_path: docs
  - url: https://github.com/hazelcast-guides/adoc-templates.git
    branches: antora-doc
  - url: https://github.com/hazelcast-guides/caching-springboot-jcache
    branches: master
    start_path: docs
  - url: https://github.com/hazelcast-guides/hazelcast-embedded-springboot
    branches: master
    start_path: docs
  - url: https://github.com/hazelcast-guides/springboot-hibernate
    branches: master
    start_path: docs
  - url: https://github.com/hazelcast-guides/hibernate-jcache
    branches: master
    start_path: docs
  - url: https://github.com/hazelcast-guides/istio
    branches: master
    start_path: docs
  - url: https://github.com/hazelcast-guides/caching-micronaut
    branches: master
    start_path: docs
  - url: https://github.com/hazelcast-guides/kubernetes-embedded
    branches: master
    start_path: docs
  - url: https://github.com/hazelcast-guides/hazelcast-embedded-microprofile
    branches: master
    start_path: docs
  - url: https://github.com/hazelcast-guides/hazelcast-client-quarkus
    branches: master
    start_path: docs
  - url: https://github.com/hazelcast-guides/springboot-webfilter-session-replication
    branches: master
    start_path: docs
  - url: https://github.com/hazelcast-guides/caching-springboot
    branches: master
    start_path: docs
  - url: https://github.com/hazelcast-guides/ecs-embedded
    branches: master
    start_path: docs
  - url: https://github.com/hazelcast-guides/striim-cdc
    branches: master
    start_path: docs
  - url: https://github.com/hazelcast-guides/springboot-tomcat-session-replication
    branches: master
    start_path: docs
  - url: https://github.com/hazelcast-guides/vmware-tanzu
    branches: master
    start_path: docs
  - url: https://github.com/hazelcast-guides/terraform-quickstarts
    branches: master
    start_path: docs
  - url: https://github.com/hazelcast-guides/kubernetes-external-client
    branches: main
    start_path: docs
  - url: https://github.com/hazelcast-guides/active-directory-authentication
    branches: master
    start_path: docs
  - url: https://github.com/hazelcast-guides/kubernetes-sidecar
    branches: main
    start_path: docs
  - url: https://github.com/hazelcast-guides/kubernetes-hpa
    branches: master
    start_path: docs
  - url: https://github.com/hazelcast-guides/kubernetes-ssl
    branches: master
    start_path: docs
  - url: https://github.com/hazelcast-guides/kubernetes-wan
    branches: master
    start_path: docs
  - url: https://github.com/hazelcast-guides/kubernetes
    branches: master
    start_path: docs
  - url: https://github.com/hazelcast-guides/spring-session-hazelcast
    branches: master
    start_path: docs
  - url: https://github.com/hazelcast-guides/ec2-cluster
    branches: master
    start_path: docs
  - url: https://github.com/hazelcast-guides/linkerd
    branches: master
    start_path: docs
  - url: https://github.com/hazelcast-guides/consul
    branches: master
    start_path: docs
  - url: https://github.com/hazelcast-guides/nodejs-client-getting-started
    branches: master
    start_path: docs
  - url: https://github.com/hazelcast-guides/go-client-getting-started
    branches: master
    start_path: docs
  - url: https://github.com/hazelcast-guides/openfaas-hz-client
    branches: master
    start_path: docs
  - url: https://github.com/hazelcast-guides/hazelcast-platform-operator-expose-externally
    branches: main
    start_path: docs
  - url: https://github.com/hazelcast-guides/hazelcast-platform-operator-external-backup-restore
    branches: master
    start_path: docs
  - url: https://github.com/hazelcast-guides/hazelcast-platform-operator-wan-replication
    branches: master
    start_path: docs
  - url: https://github.com/hazelcast-guides/kafka-kerberos
    branches: master
    start_path: docs
  - url: https://github.com/hazelcast/management-center
    branches: [master, 5.1.z, 5.2.z]
    start_path: openapi/external
  - url: https://github.com/hazelcast-guides/cpp-client-getting-started
    branches: [master]
    start_path: docs
ui: 
  bundle:
    url: https://github.com/hazelcast/hazelcast-docs-ui/releases/latest/download/ui-bundle.zip
    snapshot: true
antora:
  extensions:
    - require: '@djencks/antora-aggregate-collector'
      trace: true
      componentversions:
        - name: management-center
          version: '5.3-snapshot'
          mappings:
            - module: integrate
              family: attachment
              origin:
                url:
                  include:
                    - '**/hazelcast/management-center'
                branch:
                  includes:
                    - 'master'
        - name: management-center
          version: '5.2'
          mappings:
            - module: integrate
              family: attachment
              origin:
                url:
                  include:
                    - '**/hazelcast/management-center'
                branch:
                  includes:
                    - '5.2.z'
        - name: management-center
          version: '5.1'
          mappings:
            - module: integrate
              family: attachment
              origin:
                url:
                  include:
                    - '**/hazelcast/management-center'
                branch:
                  includes:
                    - '5.1.z'
asciidoc:
  attributes:
    # Order the products in the version selector dropdown.
    # Use * to list all remaining products in alphabetical order.
    page-component-order: 'hazelcast, management-center, cloud, *'
    page-pagination: true@
    # Allows us to use UI macros. See https://docs.asciidoctor.org/asciidoc/latest/macros/ui-macros/
    page-experimental: true
    idprefix: ''
    idseparator: '-'
    imdg-javadoc: https://docs.hazelcast.org/docs/latest-dev/javadoc
    imdg-samples: https://github.com/hazelcast/hazelcast-code-samples
    imdg-core: https://github.com/hazelcast/hazelcast/tree/master/hazelcast/src/main/java/com/hazelcast
    imdg-docs: https://docs.hazelcast.org/docs/latest/manual/html-single/index.html
    imdg-ops-guide: https://hazelcast.com/resources/hazelcast-deployment-operations-guide/
    jet-docs: https://jet-start.sh/
    docs-archive: 'https://hazelcast.org/imdg/download/archives/'
    hazelcast-cloud: Viridian
    page-cloud-console: https://viridian.hazelcast.com/
  extensions:
    - ./lib/tabs-block.js
    - ./lib/swagger-ui-block-macro.js
    - asciidoctor-kroki
