# This workflow runs a web scraper that indexes the documentation site and uploads that index to Algolia
# at the end of every day.

name: Index site

on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    env: 
      APPLICATION_ID: ${{ secrets.ALGOLIA_APP_ID }}
      API_KEY: ${{ secrets.ALGOLIA_API_KEY }}

    steps:
    - uses: actions/checkout@v2
    - run: |
        sudo apt-get install jq
        docker run -it -e "APPLICATION_ID=$APPLICATION_ID API_KEY=$API_KEY CONFIG=$(cat search-config.json | jq -r tostring)" algolia/docsearch-scraper
