# Checks if the incoming pull request includes any broken internal links

name: Check for dead links

on:
  pull_request:
    branches: [develop]
  workflow_dispatch:

jobs:
  check-links:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 16
    - name: Check for broken internal links
      env:
        GIT_CREDENTIALS: ${{ secrets.GH_TOKEN }}
      run: |
        npm i
        npm run-script check-links-local